@mixin breakpoints($point) {
  @if $point == mobile {
    @media (max-width: 375px) {
      @content;
    }
  } @else if $point == xsmall {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == xlarge {
    @media (min-width: 120px) {
      @content;
    }
  }
}
// Placeholder
%main-button-shape {
  padding-right: 20px !important;
  padding-left: 20px !important;
  border-radius: 50px !important;
}
%main-button {
  background-color: hsl(180, 63%, 50%) !important;
  color: white !important ;
}

// Global Variable
$main_color: hsl(180, 63%, 50%);
$second_color: hsl(257, 27%, 26%);
$pragraph_color: hsl(0deg, 0%, 75%);

.color {
  color: hsl(0, 0%, 75%);
  color: hsl(257, 7%, 63%);
  color: hsl(255, 11%, 22%);
  color: hsl(260, 8%, 14%);
  //   Colors
  color: hsl(180, 66%, 49%);
  // ### Secondary

  color: hsl(0, 87%, 67%);
}
// @mixin border-radius{
//     border-radius:5
// }
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
//==========>  start nav
nav.container {
  .nav-color {
    color: $second_color !important;
  }
  .bg-color {
    @include breakpoints(small) {
      background-color: $second_color !important;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 20px;
      text-align: center;
    }
    @include breakpoints(medium) {
      background-color: $second_color !important;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 20px;
    }
  }
  ul.change-color {
    li {
      a {
        color: $pragraph_color !important;
        &:hover {
          color: hsl(260, 8%, 14%) !important;
        }
        @include breakpoints(small) {
          font-weight: bold;

          &:hover {
            color: white !important;
          }
        }
        @include breakpoints(medium) {
          color: $pragraph_color !important;
          font-weight: bold;
          &:hover {
            color: white !important;
          }
        }
      }
      @include breakpoints(small) {
        margin-left: 0 !important;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    @include breakpoints(small) {
      margin-left: 0 !important;
    }
  }
  .reduies {
    button {
      @extend %main-button-shape;
      &:first-child {
        background-color: white !important;
        color: hsl(255, 11%, 22%) !important ;
        &:hover {
          background-color: $second_color !important;
          color: white !important ;
        }
      }
      &:last-child {
        @extend %main-button;
        &:hover {
          opacity: 0.75;
        }
      }
      @include breakpoints(small) {
        border: none;
        color: $pragraph_color !important;
        font-weight: bold;
        &:first-child {
          background-color: transparent !important;
          color: $pragraph_color !important;
          &:hover {
            background-color: white !important;
            color: $second_color !important ;
          }
        }
        &:last-child:hover {
          opacity: 1;
          background-color: hsl(180deg 50% 73%) !important;
        }
      }
      @include breakpoints(medium) {
        color: $pragraph_color !important;
        font-weight: bold;
        border: none;
        &:first-child {
          background-color: $second_color !important;
          color: $pragraph_color !important;
          &:hover {
            background-color: white !important;
            color: $second_color !important ;
          }
        }
        &:last-child {
          opacity: 0.75;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    @include breakpoints(small) {
      border-top: 1px solid white;
      margin: 0 30px;
      padding-top: 15px;
    }
    @include breakpoints(medium) {
      margin-left: 1.5rem;
    }
  }
}
//==========>  End nav

//==========>  start Header
header {
  div > h1 {
    font-size: 6rem;
    color: $second_color !important ;
  }
  div > p {
    font-size: 24px;
    width: 80%;
    color: hsl(257deg, 7%, 63%) !important;
  }
  div > button {
    @extend %main-button-shape;
    @extend %main-button;
    &:hover {
      opacity: 0.75;
    }
  }
  .row > div:last-child {
    img {
      max-width: 140%;
      position: absolute;
      right: -54%;
      top: 10px;
    }
  }
  @include breakpoints(small) {
    & .row {
      flex-direction: column-reverse;
    }
    & .row > div {
      width: 100%;
      text-align: center;
    }
    & div > h1 {
      font-size: 3rem;
    }
    & div > p {
      font-size: 15px;
      margin: auto;
      margin-bottom: 25px;
    }
    & > .row > div:last-child {
      img {
        position: relative;
        top: 20px;
        right: -20px;
      }
    }
  }
  @include breakpoints(medium) {
    & div > h1 {
      font-size: 3rem;
    }
    & div > p {
      font-size: 15px;
    }
  }
  @include breakpoints(large) {
    & div > h1 {
      font-size: 4rem;
    }
    & div > p {
      font-size: 20px;
    }
  }
}
//==========>  End Header

//==========>  start Shorter link
.change-status {
  background-color: hsl(257deg, 27%, 26%) !important;
}
.shorter-link {
  & > .container {
    z-index: 2;
    position: relative;
  }
  .content {
    img {
      width: 100%;
      background-color: hsl(257, 27%, 26%);
      border-radius: 10px;
      @include breakpoints(small) {
        height: 150px;
      }
    }
  }
  .form-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0 50px;
      @include breakpoints(medium) {
        padding: 0 25px;
      }
      @include breakpoints(small) {
        flex-direction: column;
        padding: 0 25px;
      }
      input {
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        flex-basis: 80%;
        height: 60px;
        @include breakpoints(medium) {
          flex-basis: 75%;
        }
        @include breakpoints(small) {
          width: 100%;
          margin-bottom: 15px;
        }
      }
      button {
        @extend %main-button-shape;
        @extend %main-button;
        border-radius: 10px !important;
        flex-basis: 18%;
        height: 60px;
        &:hover {
          background-color: hsl(180deg 50% 73%) !important;
        }
        @include breakpoints(medium) {
          flex-basis: 22%;
        }
        @include breakpoints(small) {
          width: 100%;
          padding: 10px 20px;
        }
      }
    }
  }
  .result {
    background-color: hsl(220, 23%, 95%);
    position: relative;

    & > .container {
      position: relative;
      // top: 85px;
      top: 105px;
    }
    .short-link {
      background-color: white;
      margin: 0 0.1rem;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
      }
      .short {
        text-align: end;
        color: $main_color;
      }

      .copy {
        text-align: center;
        cursor: pointer;
        color: white;
        background-color: $main_color;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
}

//==========>  End Shorter link

//==========>  start Statistics
.statistic {
  background-color: hsl(220deg, 23%, 95%);
  padding-bottom: 100px;
  padding-top: 50px;
  .info {
    margin-bottom: 80px;
    h2 {
      color: $second_color;
    }
    p {
      color: hsl(257deg, 7%, 63%) !important;
      width: 50%;
      margin: auto;
    }
    @include breakpoints(small) {
      p {
        width: 100%;
      }
    }
  }
  .static {
    position: relative;
    hr {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      border-top: 10px solid;
      border-color: $main_color;
      opacity: 1;
    }
    .card {
      position: relative;
      padding-bottom: 20px;
      .icon {
        background-color: $second_color;
        position: absolute;
        top: -40px;
        left: 40px;
        border-radius: 50%;
        width: fit-content;
        overflow: hidden;
        padding: 10px;
      }
      img {
        margin: 10px;
      }
      .card-body {
        margin-top: 60px;
        .card-title {
          font-weight: bold;
          color: $second_color;
          font-size: 25px;
          margin-bottom: 25px;
        }
        .card-text {
          color: hsl(257deg, 7%, 63%) !important;
        }
      }
    }
    & > div:nth-child(3) {
      top: 40px;
      position: relative;
    }
    & > div:nth-child(4) {
      top: 80px;
      position: relative;
    }
    @include breakpoints(small) {
      text-align: center;
      .card {
        .icon {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      & > div:nth-child(2) {
        margin-bottom: 50px;
      }
      & > div {
        margin-bottom: 30px;
      }
      hr {
        transform: translateX(-50%) rotate(90deg);
        width: 100%;
      }
    }
  }
}

//==========>  End Statistics

//==========>  Start Boost
.boost {
  background-image: url(../images/bg-boost-desktop.svg);
  background-position: center;
  background-size: cover;
  background-color: $second_color;
  @include breakpoints(small) {
    background-image: url(../images/bg-boost-mobile.svg);
  }
  .info {
    h3 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 18px;
      color: white;
      padding-top: 10px;
    }
    button {
      @extend %main-button-shape;
      @extend %main-button;
      border: none;
      &:hover {
        background-color: hsl(180deg 50% 73%) !important;
      }
    }
  }
}

//==========>  End Boost

//==========>  Start Footer
footer {
  background-color: hsl(263, 11%, 14%);
  color: white;
  h3 {
    font-weight: bold;
    margin-bottom: 30px;
  }
  ul {
    list-style: none;
    padding: 0;
    a {
      text-decoration: none;
    }
  }
  .box {
    h4 {
      font-size: 15px;
    }
    ul {
      a {
        color: hsl(257deg, 7%, 63%) !important;
        font-size: 12px;
        &:hover {
          color: $main_color !important;
        }
      }
    }
  }
  .links {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
        a {
          color: white;
          &:hover {
            color: $main_color !important;
          }
        }
      }
    }
  }
  @include breakpoints(xsmall) {
    text-align: center;
  }
  .attribution {
    padding-bottom: 20px;
    font-size: 11px;
    text-align: center;
    a {
      text-decoration: none;
      background-color: white;
      padding: 0 2px;
      border-radius: 5px;
      color: hsl(228, 45%, 44%);
    }
  }
}
